<!DOCTYPE html>
<html>
  <head>
    <title>D&D Character Creator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main">
    {{{body}}}
    </div>
  </body>
</html>
