<h1>Create a New Item</h1>
<form method="POST" action="/char/{{charId}}/gear">
  <div>
    <label for="name">Name of Item</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="att">Attack</label>
    <input type="number" name="att">
  </div>
  <div>
    <label for="def">Defense</label>
    <input type="number" name="def">
  </div>
  <div>
    <label for="spec">Special</label>
    <input type="number" name="spec">
  </div>
  
  <button type="submit">Submit</button>
  <br>
  <button type="submit"><a href="/char/{{charId}}/gear">Cancel</a></button>
</form>