<h1>Create a New Character</h1>
<form method="POST" action="/char">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="age">Age</label>
    <input type="number" name="age">
  </div>
  <div>
    <label for="deity">Deity</label>
    <input type="text" name="deity">
  </div>
  <div>
    <label for="alignment">Alignment</label>
    <input type="text" name="alignment">
  </div>
  
  <button type="submit">Add Character</button>
</form>

<button type="submit"><a href="/char">Back</a></button>